* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.warm {
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75));
  padding: 50px;
}

.border {
  background-color: #333333;
  padding: 50px;
  border-radius: 25px;
}

canvas {
  height: 180px;
  width: 270px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left:50px;
}

.charts-title {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding-bottom:25px;
}

.title {
  color:#FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
  cursor: default;
  user-select: none;
}

.apis {
  color:#FFF;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
  padding-bottom: 35px;
  cursor: default;
  opacity: 0.9;
}

.search-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 50px;
}

.gps {
  display: flex;
  width:25px;
  height: auto;
  cursor: pointer;
  padding: 10px;
  transition: 0.2s ease-in-out;
  opacity:0.7;
}

.gps:hover {
  opacity: 1;
}

.gps img {
  width:25px;
  height: auto;
}

.search-box .search-bar {
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: white;
  border-radius: 16px 16px 0px 16px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color:#313131;
  font-size: 20px;

  transition: 0.2s ease-in-out;
  opacity: 0.7;
}

.search-box .search-bar:focus, .search-box .search-bar:hover {
  opacity: 1;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:-15px;
  padding-bottom: 45px;
  color: #FB4D3D;
}

.info-container {
  display: flex;
  flex-direction: row;
}

.location-box {
  display: flex;
  flex-direction: column;
}

.location-box .location {
  color:#FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
}

.location-box .date {
  color:#FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
  padding-bottom: 35px;
}

.weather-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: #345995;
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0,0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FFF;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
  margin-top :-15px;
  cursor: default;
  user-select: none;
  padding-top:0px;
}

.humidity {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
  padding: 15px;
}

.pressure {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 3px 6px rgba(50,50,70,0.5);
}